.paperStyleSignup
{   position: absolute;
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 300px;
    height: 480px;
    margin-top: 80px;
    background-color: rgb(247, 247, 247) !important;
}


@media only screen and (max-width: 1366px) {
    .paperStyleSignup {   
        position: absolute;
        left: 50%;
        top: 47%;
        transform: translate(-50%, -50%);
        padding: 20px;
        width: 300px;
        height: 480px;
        margin-top: 80px;
        background-color: rgb(247, 247, 247) !important;
    }
  }